* {
  margin: 0;
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.nav {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  min-height: 3.25rem;
  background-color: #ffffff;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 0.0625rem solid #e4e2e0;
}

.lheader,
.nav--links {
  align-items: center;
  display: flex;
}

.nav--links {
  height: 100%;
  font-size: 14px;
}

.logo {
  width: 127px;
  height: 46px;
  padding: 12.6px 14px;
}

.nav--content {
  display: flex;
  margin-right: 1.5rem;
  color: #2D2D2D;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 16px;
}

.svglogo {
  width: 24px;
}

.userLogo {
  width: 21px;
}

.bellLogo {
  width: 26px;
}

.chatLogo {
  width: 24px;
}

.signin {
  color: #2557a7;
  font-weight: bold;
}

.nav--content:hover,
.postjob:hover {
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 0.125rem solid #2557a7;
  margin-bottom: -0.125rem;
}

.nav--logo {
  margin: 0;
  padding: 21px 10px 9px;
  margin: 0px 10px;
}

.postjob {
  padding-top: 16px;
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0px 20px;
  box-sizing: border-box;
  color: #2D2D2D
}

.line {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 0.0625rem;
  height: 1.55rem;
  background-color: #d4d2d0;
  margin-top: 0.75rem;
}

.tri {
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  position: absolute;
  border-bottom: 0.5rem solid rgb(255, 255, 255);
  top: 60px;
  z-index: 1001;
  right: 197px;
}

.popup {
  display: flex;
  position: absolute;
  top: 68px;
  width: 370px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: black;
  z-index: 1000;
  border-radius: 0.25rem;
  right: 172px;
  box-shadow: rgb(45 45 45 / 20%) 0px 0px 0.125rem, rgb(45 45 45 / 16%) 0px 0.25rem 0.5rem, rgb(45 45 45 / 12%) 0px -0.5rem 1rem;
}

.popup--email {
  font-size: 1rem;
  color: #2D2D2D;
  padding: 1rem 1.5rem;
  margin: 0.5rem 0;
  font-weight: bold;
  pointer-events: none;  
}

.popup--svg {
  padding-right: 1rem;
}

.popup--content {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 15px 6px 13px 24px;
  color: #2D2D2D
}

hr {
  margin: 1rem 0px 0px;
  border: 0.03125rem solid rgb(228, 226, 224);
  width: 23.125rem;
}

.signout {
  display: flex;
  color: #2557a7;
  font-size: 16px;
  font-weight: 700;
  padding: 1rem;
  align-items: center;
  justify-content: center ;
}

.popup--content:hover, .signout:hover {
  cursor: pointer;
  background-color: rgb(243, 242, 241);
  transition: 330ms
}